@font-face {
   font-family: 'DanaYadAlefAlefAlef-Normal';
   font-display: swap;
   src: url('file:///C:/Users/idan/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-05_000018/fonts/DanaYadAlefAlefAlef-Normal/font.woff');
}
